.testimonal__container{
    width: 750px;
   
}

.testimonal__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: var(--mb-2);
    border-radius: 1.5rem;
    height: 200px;
    
}

#dark .testimonal__card{
    background-color: rgb(46, 42, 42);
   }


.testimonal__header{
    display: flex;
    align-items: flex-end;
}
.testimonal__img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-0-75);
}

.testimonal__name{
    font-size: var(--normal-font-size);
    font-weight: 600;
    margin-bottom: var(--mb-0-5);
    padding: 2rem;
    
}

#dark .testimonal__name{
    color: aliceblue;
   }

   #dark .testimonal__description{
    color: aliceblue;
   }


@media screen and (max-width: 992px) {


  }
  
  @media screen and (max-width: 768px) {
  

    .testimonal__container{
        width: 650px;
       
    }
   
  }
  
  @media screen and (max-width: 576px) {
  
  
  }
  
  
  @media screen and (max-width: 350px) {

  }

