
.home-container{
    row-gap: 3rem;
}

.home-content{
    grid-template-columns: 136px repeat(2, 1fr);
    padding-top: 5rem;
    column-gap: 2rem;
    align-items: center;
}

.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    justify-content: center
    ;
}

.home-social-icon{
    font-size: 1.3rem;
    color: var(--tittle-color);
}

.home-social-icon :hover{
    color: var(--tittle-color-dark);

}

.home-tittle{
    
    margin-bottom: var(--mb-0-5);
}
 
.home-subtittle{
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    padding-left: 3rem;
    margin-bottom: var(--mb-0-5);
}


.home-subtittle::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
    bottom: 1rem;
}

.home-description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
  
}

.button{
    border-radius: 1rem;
}

 .home-scroll{
    margin-left: 18rem;
    padding-top: 5rem;
 }
 .home-scroll-name{
    padding-bottom: 5rem;
 }

.home-img{
    background-image: url(../../assets/moti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 /30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 250px;
    animation: profile-aniamation 10s ease-in-out infinite 2s;
}

@keyframes profile-aniamation{

    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

   100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    
}

@media screen and  (max-width: 992px){ 
.home-content{
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.5rem;
}

.home-subtittle{
   margin-bottom: var(--mb-1);
    padding-left: 2rem;

}

.home-subtittle::before{
    width: 35px;
    height: 0.7px;
}

.home-description{
    max-width: initial;
    margin-bottom: var(--mb-2-5);

}

.home-img{
    box-shadow: inset 0 0 0 7px rgb(255 255 255 /30%);
    width: 250px;
    height: 200px;

}

.home-scroll{
    margin-left: 13rem;
   
 }

.button{
    font-size: var(--small-font-size);
    width: 150px;
    height: 70px;
}
    
}


@media screen and (max-width: 768px) {

    .home-content{
        grid-template-columns: 0.5fr 2fr;
        padding-top: 3rem;
    }

    .home-img{
        box-shadow: inset 0 0 0 5px rgb(255 255 255 /30%);
        width: 250px;
        height: 200px;
        order: initial;
        justify-self: center;
 
    }

    .home-data{
        grid-column: 1/3;
        justify-self: center;
    }
 .home-scroll{
    display: none;
 }

 .home-social{
   justify-self: center;
}
    
}


@media screen and (max-width: 768px) {
    
}


