.contact__container{
    grid-template-columns: repeat(2, 1fr );
    justify-content: center;
    column-gap: 5rem;
    padding-bottom: 3rem;
}

.contact__tittle{
    text-align: center;
    font-size: var(--f3-font-size);
   
    margin-bottom: var(--mb-1-5);
}

.contact__info{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

#dark .contact__card{
    background-color: rgb(46, 42, 42);
   }

.contact__card-icon{
    font-size: 2rem;
    color: var(--tittle-color);
    margin-bottom: var(--mb-0-25);
}

#dark .contact__card-icon{
    color: aliceblue;
   }

.contact__card-tittle, 
.contact__card-data{
    font-size: var(--small-font-size);
}

#dark .contact__card-data{
    color: aliceblue;
   }

 #dark .contact__card-tittle  {
    color: aliceblue;
 }


.contact__card-data{
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact__button{
    font-size: var(--small-font-size);
}

#dark .contact__button{
    color: aliceblue;
   }


.contact__button:hover .contact__button-icon{
    transform: translate(0.35rem);
}

.contact__form{
    width: 360px;
}

.contact__form-div{
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;

}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: none;
    color: var(--text-color);
    border-radius: 0.8rem;
    padding: 1.2rem;
    outline: none;
}

#dark .contact__card-icon{
    color: aliceblue;
   }

.contact__form-tag{
    position: absolute;
    top: -0.95rem;
    left: 1.25rem;
    padding: 0.5rem;
    background-color: var(--body-color);
    z-index: 1;
}

#dark .contact__form-tag{
    color: aliceblue;
    background-color:  rgb(51, 62, 62);;
   }
.contact__form-comment{
    height: 11rem;
}

.contact__form-comment textarea{
    resize: none;
}

.submit-control{
    display: flex;
    justify-content: space-around;
}

.contact__form-submit{
    background-color: rgba(46, 42, 42, 0.472);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-weight: 700;
    border: none;
    
    cursor: pointer;
}


#dark .contact__form-submit{
    color: aliceblue;
    background-color: rgb(46, 42, 42);
   }
#dark .count__left{
    color: aliceblue;
   }

  
  @media screen and (max-width: 768px) {
    .contact__form{
        width: 260px;
    }
    .contact__info{
    
        grid-template-columns: 270px;
    }

    .contact__container{
    
        padding-bottom: 2rem;
    }
  }
  
  @media screen and (max-width: 576px) {
  
    .contact__container{
        grid-template-columns:max-content;
        padding-bottom: 1rem;
    } 
  }
  
  
  @media screen and (max-width: 350px) {
  
    
  }