.skills-container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    justify-content: center;
}

.skills-content{
    background-color: var(--container-color);
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-tittle{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1-5);
    font-weight: 500px;
    text-align: center;
}

.skills-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 2rem;
}

.skills-data{
    display: flex;
    column-gap: 0.5rem;
}

.skills .uil-cloud-question{
    font-size: 1.5rem;
    color: var(--tittle-color);
}

.skill-name{
    font-size: var(--normal-font-size);
    font-weight: 500px;
}

.skill-level{

    font-size: var(--tiny-font-size);
}



@media screen and (max-width: 992px) {
    .skills-container{
        column-gap: 1rem;

    }

    .skills .uil-cloud-question{
        font-size: 1.2rem;
    }
    
  }

  @media screen and (max-width: 768px) {

    .skill-name{
        font-size: var(--small-font-size);
        font-weight: 200px;
        
    }

    .skills-group{
        grid-template-columns: max-content;
        row-gap: 1.5rem;
        justify-content: center;
    }

   
  }
  

  
  @media screen and (max-width: 576px) {
   

  
  }
  
  
  @media screen and (max-width: 350px) {
    .skills-container{
        grid-template-columns: max-content;
        row-gap: 1.5rem;
        justify-content: center;
    }

    .skills-group{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }


  }

